#galeria {
    width: 80%;
    margin: 0 auto;
}

.galeria-cont {
    width: 100%;
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.imagen {
    margin: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
}

.imagen:hover {
    transform: scale(1.1);
}

.imagen img {
    width: 100%;
}

.texto-img {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(42, 41, 41, 0.5);
    color: white;
}

.texto-img h3 {
    font-size: 20px;
    padding-top: 10px;
}

.texto-img p {
    font-size: 14px;
}

.api-cont {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;
}

.api-titulo{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

#raza {
    color: rgb(26, 113, 8);
    font-style: italic;
    font-weight:bolder;
}

#razaimg {
    height: 30vh;
    opacity: 0.8;
    transition: transform 0.3s ease-in-out;
}

#razaimg:hover {
    transform: scale(1.1);
    opacity: 1;
}

@media (max-width: 992px){

    .galeria-cont {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .imagen {
        margin: 5px;
    }
}

@media (max-width: 576px){

    .galeria-cont {
        grid-template-columns: 1fr;
    }

    .imagen {
        margin: 10px 50px;
    }

    .texto-img h1{
        font-size: 16px;
    }

    .api-cont {
        grid-template-columns: 1fr;
    }
}